name: Dependabot auto-merge
on: pull_request

jobs:
  dependabot:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    env:
      GH_TOKEN: ${{ github.token }}
    if: github.event.pull_request.user.login == 'dependabot[bot]' && github.repository == 'luth1um/timed-automata-analyzer'
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --merge "${{ github.event.pull_request.html_url }}"
